@font-face {
    font-family: 'Santio';
    src: url('../fonts/Santio\ regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'MrDafoe';
    src: url('../fonts/MrDafoe-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color-white: #fff;
    --font-color-yellow: #E7BC0E;
    --font-color-mint: #6BC1A3;
    --font-color-rose: #CB91B6;
    --font-color-lightblue: #7EB8E1;
}

html {
    font-size: 10px;
    font-family: 'Santio';
    color: var(--font-color-white);
}

body {
    background-image: url("../img/cleo-topper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* header */

header {
    width: 100vw;
    height: auto;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul a {
    font-family: 'Roboto';
    font-size: 0.9em;
    text-align: right;
    text-decoration: none;
    color: var(--font-color-white);
    padding-right: 20px;
    padding-top: 20px;

}

header img {
    width: 5%;
}

/* main */

main section {
    padding-left: 200px;
}

main section h1 {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: bolder;
    width: 90px;
    padding-top: 50px;
}

main section h4 {
    font-family:'MrDafoe';
    font-size: 32px;
    color: var(--font-color-yellow);
    padding-top: 50px;
}

main section p {
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    color: var(--font-color-mint);
    width: 330px;
    padding-top: 70px;
    padding-left: 100px;
}

main section p span {
    color: var(--font-color-white);
}

.million {
    padding-left: 320px;
    padding-top: 70px;
}

.million img {
    width: 7%;
    padding: 15px 0;
}

.million h2 {
    font-size: 90px;
    font-weight: bolder;
    line-height: 70px;
    color: var(--font-color-yellow);
    width: 200px;
}

.million h3 {
    font-size: 24px;
    font-weight: bolder;
    color: var(--font-color-yellow);
    width: 350px;
}

.million h3 span {
    color: var(--font-color-white);
    background-color: rgba(45, 45, 45, 1);
}

.pay {
    padding-left: 320px;
    padding-top: 70px;
}

.pay img {
    width: 7%;
    padding: 15px 0;
}

.pay h2 {
    font-size: 90px;
    font-weight: bolder;
    line-height: 70px;
    color: var(--font-color-rose);
    width: 200px;
}

.pay h3 {
    font-size: 24px;
    font-weight: bolder;
    color: var(--font-color-rose);
    width: 300px;
    padding-bottom: 10px;
}

.pay h3 span {
    color: var(--font-color-white);
    background-color: rgba(45, 45, 45, 1);
}

.health {
    padding-left: 320px;
    padding-top: 70px;
}

.health img {
    width: 7%;
    padding: 15px 0;
}

.health h2 {
    font-size: 90px;
    font-weight: bolder;
    line-height: 70px;
    color: var(--font-color-mint);
    width: 200px;
}

.health h3 {
    font-size: 24px;
    font-weight: bolder;
    color: var(--font-color-mint);
    width: 300px;
}

.health h3 span {
    color: var(--font-color-white);
    background-color: rgba(45, 45, 45, 1);
}

.content {
    columns: var(--font-color-lightblue);
    padding-bottom: 50px;
}

.content span {
    color: var(--font-color-white);
    background-color: rgba(45, 45, 45, 1);
}

.pictures {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/kid.png"), url("../img/see.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: lightgray;
}

footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    padding-left: 200px;
    padding-top: 50px;
}

footer h5 {
    font-family: 'Inter';
    font-size: 24px;
    width: 180px;
    padding-bottom: 20px;
}


footer a {
    padding: 20px;
    border: 1px solid white;
    color: var(--font-color-white);
    font-size: 16px;
    text-decoration: none;
}

footer a:hover {
    box-shadow: 8px 8px 2px 1px rgba(255, 255, 255, 1);
}

footer p {
    font-family: 'Roboto';
    padding: 20px 0;
}

footer p span {
    color: var(--font-color-mint);
}

/* responsive */

/* ! Media Queries */
/* ? Handy ab 576px */
/* ? Tablet ab 768px */
/* ? Desktop ab 992px */

/* # DESKTOP -> Handy max-width, um das Layout anzupassen, wenn der Bildschirm kleiner wird */

/* * das @media ist ein Schlüssel, dein ein Media Querie in css einbettet. */
/* * das Wort "only" wird verwendet, um ältere Browser auszuschließen, die die Media Queries nicht korrekt interpritieren können.  */

@media only screen and (max-width: 768px) {
    html {
        font-size: 1rem;
    }
    
    body {
        min-width: 768px;
        height: auto;
    }

    main section {
        padding-left: 100px;
    }

    .million, .pay, .health {
        padding-left: 200px;
    }

    .pictures {
        display: none;
    }
    

}

@media only screen and (max-width: 576px) {
    html {
        font-size: 100%;
    }
    
    body {
        min-width: 992px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    .pictures {
        display: none;
    }

}