@font-face {
    font-family: 'Santio';
    src: url('../fonts/Santio\ regular.ttf');

    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');

    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');

    font-family: 'MrDafoe';
    src: url('../fonts/MrDafoe-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color-white: #fff;
    --font-color-yellow: #E7BC0E;
    --font-color-mint: #6BC1A3;
    --font-color-rose: #CB91B6;
    --font-color-cyan: #7EB8E1;
}

html {
    font-family: 'Sanito';
    font-size: 1em;
}

body {
    background-image: url("../img/cleo-topper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* header */

header {
    display: flex;
    justify-content: flex-end;
    
    align-items: baseline;
    padding: 1em;
}

header img {
    width: 5%;
}

header ul a {
    font-family: 'Roboto';
    font-size: 0.9em;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    color: var(--font-color-white);
}

